/* @import '~bootstrap/dist/css/bootstrap.css'; */

@font-face {
  font-family: 'Quicksand';
  font-weight: bold;
  src: url('assets/fonts/quicksand-bold-webfont.woff') format('woff');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
  width: 1280px;
}
